/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

*{
	-fx-primary: #2A2E37;
	-fx-primarytext: #B2B2B2;
}

.background
{
	-fx-background-color: #2A2E37;
}

.transparent
{
	-fx-background-color:transparent;
}

.btn
{
	-fx-background-radius: 50px;
	-fx-background-color: #00C853;
}

.decorationBar
{
	-fx-background-color: #00C853;
}